@import "../../styles/utils/variables.scss";

.about__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    gap: 30px;
    margin-bottom: 38px;
}

.banner__about__mobile {
    @include media-query($tablet-width) {
        height: 223px;
    }
}