@import "../../styles/utils/variables.scss";

.property__card {
    display: flex;
    box-sizing: border-box;
    height: 340px;
    width: 340px;
    border-radius: 10px;
}

.shadow__box {
    background: linear-gradient(#FFFFFF, #000000);
    height: 340px;
    width: 340px;
    border-radius: 10px;
    position: relative;
    bottom: 340px;
    opacity: 0.5;
}

.property__title {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    color: #F6F6F6;
    position: relative;
    left: 20px;
    bottom: 410px;
    width: 300px;
}

.card__link {
    text-decoration: none;
}

.property__cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card__link {
    height: 340px;
    width: 340px;
}