.property__div {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    margin-bottom: 50px;
}

.title__div {}

.property__name {
    font-size: 36px;
    margin: 0;
}

.property__location {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.host__div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 21px;
}

.host__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    mask: url(./hostmask.png);
    mask-repeat: no-repeat;
    mask-position: center;
}

.host__name {
    display: flex;
    font-size: 18px;
    margin: 0;
    font-weight: 500;
    align-items: center;
}

.collapses {
    display: flex;
    flex-direction: row;
    gap: 76px;
}

.equipments {
    list-style-type: none;
}

.informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.host__group {
    display: flex;
    flex-direction: column;
    height: 64px;
}