@import "../../styles/utils/variables.scss";

.property__div {
    display: flex;
    flex-direction: column;
    color: $color-primary;
    margin-bottom: 50px;
}

.property__name {
    font-size: 36px;
    margin: 0;

    @include media-query($tablet-width) {
        font-size: 18px;
    }
}

.property__location {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.info__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.host__div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 21px;

    @include media-query($tablet-width) {
        margin-bottom: 0;
    }
}

.host__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    mask: url(./hostmask.png);
    mask-repeat: no-repeat;
    mask-position: center;
}

.host__name {
    display: flex;
    font-size: 18px;
    margin: 0;
    font-weight: 500;
    align-items: center;

    @include media-query($tablet-width) {
        font-size: 14px;
    }
}

.collapses {
    display: flex;
    flex-direction: row;
    gap: 76px;

    @include media-query($tablet-width) {
        flex-direction: column;
    }
}

.equipments {
    list-style-type: none;
}

.informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    @include media-query($tablet-width) {
        flex-direction: column;
    }
}

.host__group {
    display: flex;
    flex-direction: column;
    height: 64px;

    @include media-query($tablet-width) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
}