@import "../../styles/utils/variables.scss";

.header__div {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding-left: 57px;
    color: $color-primary;

    @include media-query($tablet-width) {
        text-transform: uppercase;
        padding-left: 15px;
        font-size: 15px;
    }

}

.nav__list a {
    color: $color-primary;
    text-decoration: none;
}

a:active {
    color: $color-primary;
    text-decoration: none;
}

a:visited {
    color: $color-primary;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.header__logo {
    width: 30%;
    max-width: 211px;
}