@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Act as a wrapper

.header__div,
.banner__div,
.main__div,
.property__div,
.about__div,
.banner__shadow,
.banner__wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

// ^^^^^^^^^^^^^^^^^^^

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}